html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Verdana;
}

div {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    white-space: nowrap;
    font-size: 10vh;
}

p {
    margin: 0;
}